@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #5243c2;
    --dark-color: #3e3e3e;
    --purple-light: #fff5fb;
    --deep-dark: #0b0d17;
}

body {
    color: var(--dark-color);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

:focus,
.btn-close:focus,
.btn-check:focus + .btn,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.padding-top {
    padding-top: 120px;
}

.padding-bottom {
    padding-bottom: 120px;
}

h2 {
    font-size: 2.4rem;
    color: var(--deep-dark);
    margin-bottom: 70px;
}

.toast {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border: 0;
    border-left: 7px solid var(--primary-color);
    background: #ffffff;
    border-radius: 0;
}

/*====================================== 
                Header Style 
======================================== */
.brand,
.brand:hover {
    color: var(--dark-color);
    font-size: 1.45rem;
    font-weight: 700;
}

.navbar-toggler {
    padding: 0;
    border: none;
}

.navbar-nav {
    gap: 14px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    color: var(--dark-color) !important;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

/*====================================== 
                Banner Style 
======================================== */
.banner img {
    min-height: 500px;
    object-fit: cover;
}

.banner h5 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1rem;
    font-weight: 300;
}

.banner a {
    color: var(--primary-color);
    background: #ffffff;
    font-weight: 600;
    padding: 8px 28px;
    transition: all 0.3s;
}

.banner a:hover {
    color: #ffffff;
    background-color: var(--primary-color);
}

/*====================================== 
              Features Style 
======================================== */
.item-card {
    background: var(--purple-light);
    text-align: center;
    border-radius: 10px;
    padding: 30px 20px 35px 20px;
}

.item-card img {
    max-height: 60px;
    max-width: 60px;
    margin-bottom: 20px;
}

.item-card h4 {
    color: var(--dark-color);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

/*====================================== 
              Pricing Style 
======================================== */
.pricing-card {
    color: var(--deep-dark);
    padding: 0 10px;
    position: relative;
}

.pricing-card.popular {
    color: #ffffff;
    padding: 30px 25px 35px;
    background: var(--primary-color);
    border-radius: 20px;
    /* transform: scale(1.1) translateX(-12px); */
    box-shadow: 0px 20px 30px rgb(82 67 194 / 30%);
}

.pricing-card span {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 35px;
}

.pricing-card h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.pricing-card p {
    font-size: 15px;
    font-weight: 400;
}

.pricing-card ul {
    margin: 0;
    padding: 0;
}

.pricing-card li {
    list-style-image: url('../images/icons/check.svg');
    list-style-position: inside;
    margin-bottom: 5px;
    position: relative;
}

.pricing-card.popular li {
    list-style-image: url('../images/icons/check-alt.svg');
    list-style-position: inside;
    margin-bottom: 5px;
    position: relative;
}

.pricing-card li span {
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 0;
    margin-left: 3px;
}

.pricing-card a {
    color: var(--primary-color);
    background: var(--purple-light);
    font-size: 15px;
    font-weight: 600;
    padding: 10px 28px;
    width: 100%;
    margin-top: 10px;
    border-radius: 30px;
    transition: all 0.3s;
}

.pricing-card a:hover {
    color: #ffffff;
    background: var(--primary-color);
}

.pricing-card.popular a,
.pricing-card.popular a:hover {
    color: var(--primary-color);
    background: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 28px;
    width: 100%;
    margin-top: 10px;
    border-radius: 30px;
    transition: all 0.3s;
}

.pricing-card .tag {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.75px;
    padding: 7px 20px;
    background: #ff7400;
    position: absolute;
    top: 18px;
    right: 16px;
    text-transform: uppercase;
    border-radius: 18px;
    margin: 0;
}
